In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df = pd.read_csv(r'C:\Users\Admin\Desktop\Edyoda\ML Rishi Bansal\Assignments\Assignment 2\train_set.csv')

Imagine you are working as a data scientist in a big organization which has thousands of employees. The HR department is planning to provide some additional compensation to each working employee which needs to be calculated by looking at the profile of each employee and the benefits they are getting. 

The HR department asks your help if you can use your data science and machine learning skills and calculate an estimated ‘Total Compensation’ for each employee.



Data Description

﻿OGC: Organization Group Code - Org Group is a group of Departments. For example, the Public Protection Org Group includes departments such as the Police, Fire, Adult Probation, District Attorney, and Sheriff.

OG: Organization Group names

DC: Department Code - Departments are the primary organizational unit used by the City and County of San Francisco. Examples include Recreation and Parks, Public Works, and the Police Department.

Dept: Department name

UC: Union Code - Unions represent employees in collective bargaining agreements. A job belongs to one union, although some jobs are unrepresented (usually temporarily).

Union: Union names

JF: Job Family - Job Family combines similar Jobs into meaningful groups.

Job: Job name

EI: Employee Identifier

Salaries: Salary of the employee

Overtime: Amounts paid to City employees working in excess of 40 hours per week. 

H/D: Health/Dental - City-paid premiums to health and dental insurance plans covering City employees. To protect confidentiality as legally required, pro-rated citywide averages are presented in lieu of employee-specific health and dental benefits. 

YT: Year Type - Fiscal (July through June) or Calendar (January through December)

Total_Compensation: The final compensation i.e. the sum of all salaries and benefits paid to City employees.

In [3]:
df.head()

,Year,OGC,OG,DC,Dept,UC,Union,JF,Job,EI,Salaries,Overtime,H/D,YT,Total_Compensation
0,2015,4,Community Health,DPH,Public Health,250,"SEIU - Health Workers, Local 1021",Med Therapy & Auxiliary,Morgue Attendant,6725,12196,0,0.00,Calendar,16158
1,2013,4,Community Health,DPH,Public Health,39,"Stationary Engineers, Local 39",Journeyman Trade,Stationary Engineer,25058,74639,2820,12703.31,Fiscal,115784
2,2015,6,General Administration & Finance,ASR,Assessor/Recorder,21,"Prof & Tech Engineers - Miscellaneous, Local 21",Appraisal & Taxation,Senior Real Property Appraiser,46108,100554,0,12424.50,Calendar,144708
3,2016,1,Public Protection,POL,Police,911,Police Officers' Association,Police Services,Sergeant 3,33369,140164,52754,13043.87,Fiscal,242323
4,2013,2,"Public Works, Transportation & Commerce",HHP,PUC Hetch Hetchy,21,"Prof & Tech Engineers - Miscellaneous, Local 21",Information Systems,IS Engineer-Journey,28684,58813,0,7655.28,Calendar,82106

In [4]:
df.shape

(287836, 15)

In [5]:
#First lets check for missing values and types of features

In [6]:
df.isnull()

,Year,OGC,OG,DC,Dept,UC,Union,JF,Job,EI,Salaries,Overtime,H/D,YT,Total_Compensation
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287831,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
287832,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
287833,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
287834,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
287835,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [7]:
#so a few missing values in union and job, let's dive deeper

In [8]:
print(df[df['Union'].isnull()].shape)
df[df['Union'].isnull()]

(36, 15)

,Year,OGC,OG,DC,Dept,UC,Union,JF,Job,EI,Salaries,Overtime,H/D,YT,Total_Compensation
4145,2016,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,790,NaN,NaN,Transportation Controller Trainee,13880,28416,0,3940.59,Fiscal,42123
7577,2016,5,Culture & Recreation,REC,Recreation and Park Commission,790,NaN,NaN,Recreation Facility Assistant,47943,8060,0,2849.45,Fiscal,13515
9210,2016,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,790,NaN,NaN,Transportation Controller Trainee,41454,20502,468,2843.22,Fiscal,30612
17421,2016,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,790,NaN,NaN,Transportation Controller Trainee,7879,14028,1486,1945.36,Fiscal,22849
22683,2016,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,790,NaN,NaN,Transportation Controller Trainee,32368,28416,4703,3940.59,Fiscal,47277
37530,2016,5,Culture & Recreation,REC,Recreation and Park Commission,790,NaN,NaN,Recreation Facility Assistant,10536,5602,0,2079.41,Fiscal,9366
55330,2016,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,790,NaN,NaN,Transportation Controller Trainee,35856,13018,195,1895.47,Fiscal,20153
68538,2016,5,Culture & Recreation,REC,Recreation and Park Commission,790,NaN,NaN,Recreation Facility Assistant,20672,6333,0,2350.64,Fiscal,10767
69790,2016,5,Culture & Recreation,REC,Recreation and Park Commission,790,NaN,NaN,Recreation Facility Assistant,48008,3435,0,1275.09,Fiscal,5738
73987,2016,5,Culture & Recreation,REC,Recreation and Park Commission,790,NaN,NaN,Recreation Facility Assistant,49918,5728,0,2126.18,Fiscal,9715
95525,2016,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,790,NaN,NaN,Transportation Controller Trainee,44834,11840,476,1995.23,Fiscal,18289
98431,2016,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,790,NaN,NaN,Transportation Controller Trainee,20967,32013,5227,4439.40,Fiscal,53881
99793,2016,5,Culture & Recreation,REC,Recreation and Park Commission,790,NaN,NaN,Recreation Facility Assistant,49941,4672,0,1942.24,Fiscal,8054
101246,2016,5,Culture & Recreation,REC,Recreation and Park Commission,790,NaN,NaN,Recreation Facility Assistant,19116,2688,0,997.62,Fiscal,4490
111176,2016,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,790,NaN,NaN,Transportation Controller Trainee,48430,7194,0,997.62,Fiscal,10835
119248,2016,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,790,NaN,NaN,Transportation Controller Trainee,32783,26344,313,4439.40,Fiscal,40683
124516,2016,5,Culture & Recreation,REC,Recreation and Park Commission,790,NaN,NaN,Recreation Facility Assistant,29346,4834,0,1794.15,Fiscal,8222
132201,2016,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,790,NaN,NaN,Transportation Controller Trainee,21572,28416,2941,3940.59,Fiscal,46746
135275,2016,5,Culture & Recreation,REC,Recreation and Park Commission,790,NaN,NaN,Recreation Facility Assistant,35529,1428,0,529.98,Fiscal,2398
138359,2016,5,Culture & Recreation,REC,Recreation and Park Commission,790,NaN,NaN,Recreation Facility Assistant,43258,604,0,224.47,Fiscal,1009
139945,2016,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,790,NaN,NaN,Transportation Controller Trainee,17682,25179,5260,3491.67,Fiscal,44012
153481,2016,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,790,NaN,NaN,Transportation Controller Trainee,8757,28416,1430,3940.59,Fiscal,44452
153561,2016,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,790,NaN,NaN,Transportation Controller Trainee,45753,10431,548,1446.55,Fiscal,16906
160037,2016,5,Culture & Recreation,REC,Recreation and Park Commission,790,NaN,NaN,Recreation Facility Assistant,18040,588,0,218.23,Fiscal,1022
161608,2016,5,Culture & Recreation,REC,Recreation and Park Commission,790,NaN,NaN,Recreation Facility Assistant,29891,3964,0,1471.49,Fiscal,6658
175651,2016,5,Culture & Recreation,REC,Recreation and Park Commission,790,NaN,NaN,Recreation Facility Assistant,17622,5409,0,2007.70,Fiscal,9199
197368,2016,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,790,NaN,NaN,Transportation Controller Trainee,43772,17626,834,2444.29,Fiscal,27351
226303,2016,5,Culture & Recreation,REC,Recreation and Park Commission,790,NaN,NaN,Recreation Facility Assistant,13903,1260,0,467.64,Fiscal,2122
235794,2016,5,Culture & Recreation,REC,Recreation and Park Commission,790,NaN,NaN,Recreation Facility Assistant,8100,6888,0,2556.40,Fiscal,11578
243213,2016,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,790,NaN,NaN,Transportation Controller Trainee,46870,26640,1984,4489.29,Fiscal,42786
243397,2016,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,790,NaN,NaN,Transportation Controller Trainee,52365,26344,356,4439.40,Fiscal,40340
245016,2016,5,Culture & Recreation,REC,Recreation and Park Commission,790,NaN,NaN,Recreation Facility Assistant,32411,5602,0,2079.41,Fiscal,9591
280075,2016,5,Culture & Recreation,REC,Recreation and Park Commission,790,NaN,NaN,Recreation Facility Assistant,47770,2721,0,1010.09,Fiscal,4707
281700,2016,5,Culture & Recreation,REC,Recreation and Park Commission,790,NaN,NaN,Recreation Facility Assistant,53710,7728,0,2868.15,Fiscal,13083
283096,2016,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,790,NaN,NaN,Transportation Controller Trainee,2785,11544,169,1945.36,Fiscal,18255
284488,2016,5,Culture & Recreation,REC,Recreation and Park Commission,790,NaN,NaN,Recreation Facility Assistant,10821,4292,0,1593.07,Fiscal,7369

In [9]:
#One interesting thing is that all the missing values of Union feature have the same code UC! Maybe we can do something about that, 
#let's see the missing values for JF
df[df['JF'].isnull()]

,Year,OGC,OG,DC,Dept,UC,Union,JF,Job,EI,Salaries,Overtime,H/D,YT,Total_Compensation
4145,2016,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,790,NaN,NaN,Transportation Controller Trainee,13880,28416,0,3940.59,Fiscal,42123
7577,2016,5,Culture & Recreation,REC,Recreation and Park Commission,790,NaN,NaN,Recreation Facility Assistant,47943,8060,0,2849.45,Fiscal,13515
9210,2016,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,790,NaN,NaN,Transportation Controller Trainee,41454,20502,468,2843.22,Fiscal,30612
17421,2016,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,790,NaN,NaN,Transportation Controller Trainee,7879,14028,1486,1945.36,Fiscal,22849
22683,2016,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,790,NaN,NaN,Transportation Controller Trainee,32368,28416,4703,3940.59,Fiscal,47277
37530,2016,5,Culture & Recreation,REC,Recreation and Park Commission,790,NaN,NaN,Recreation Facility Assistant,10536,5602,0,2079.41,Fiscal,9366
52028,2016,6,General Administration & Finance,RET,Retirement System,351,Municipal Exec Assoc-Misc,NaN,Managing Director,11707,117917,0,5935.83,Fiscal,156505
55330,2016,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,790,NaN,NaN,Transportation Controller Trainee,35856,13018,195,1895.47,Fiscal,20153
68538,2016,5,Culture & Recreation,REC,Recreation and Park Commission,790,NaN,NaN,Recreation Facility Assistant,20672,6333,0,2350.64,Fiscal,10767
69790,2016,5,Culture & Recreation,REC,Recreation and Park Commission,790,NaN,NaN,Recreation Facility Assistant,48008,3435,0,1275.09,Fiscal,5738
73987,2016,5,Culture & Recreation,REC,Recreation and Park Commission,790,NaN,NaN,Recreation Facility Assistant,49918,5728,0,2126.18,Fiscal,9715
95525,2016,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,790,NaN,NaN,Transportation Controller Trainee,44834,11840,476,1995.23,Fiscal,18289
98431,2016,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,790,NaN,NaN,Transportation Controller Trainee,20967,32013,5227,4439.40,Fiscal,53881
99793,2016,5,Culture & Recreation,REC,Recreation and Park Commission,790,NaN,NaN,Recreation Facility Assistant,49941,4672,0,1942.24,Fiscal,8054
101246,2016,5,Culture & Recreation,REC,Recreation and Park Commission,790,NaN,NaN,Recreation Facility Assistant,19116,2688,0,997.62,Fiscal,4490
111176,2016,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,790,NaN,NaN,Transportation Controller Trainee,48430,7194,0,997.62,Fiscal,10835
119248,2016,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,790,NaN,NaN,Transportation Controller Trainee,32783,26344,313,4439.40,Fiscal,40683
124516,2016,5,Culture & Recreation,REC,Recreation and Park Commission,790,NaN,NaN,Recreation Facility Assistant,29346,4834,0,1794.15,Fiscal,8222
132201,2016,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,790,NaN,NaN,Transportation Controller Trainee,21572,28416,2941,3940.59,Fiscal,46746
135275,2016,5,Culture & Recreation,REC,Recreation and Park Commission,790,NaN,NaN,Recreation Facility Assistant,35529,1428,0,529.98,Fiscal,2398
138359,2016,5,Culture & Recreation,REC,Recreation and Park Commission,790,NaN,NaN,Recreation Facility Assistant,43258,604,0,224.47,Fiscal,1009
139945,2016,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,790,NaN,NaN,Transportation Controller Trainee,17682,25179,5260,3491.67,Fiscal,44012
153481,2016,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,790,NaN,NaN,Transportation Controller Trainee,8757,28416,1430,3940.59,Fiscal,44452
153561,2016,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,790,NaN,NaN,Transportation Controller Trainee,45753,10431,548,1446.55,Fiscal,16906
160037,2016,5,Culture & Recreation,REC,Recreation and Park Commission,790,NaN,NaN,Recreation Facility Assistant,18040,588,0,218.23,Fiscal,1022
161608,2016,5,Culture & Recreation,REC,Recreation and Park Commission,790,NaN,NaN,Recreation Facility Assistant,29891,3964,0,1471.49,Fiscal,6658
175651,2016,5,Culture & Recreation,REC,Recreation and Park Commission,790,NaN,NaN,Recreation Facility Assistant,17622,5409,0,2007.70,Fiscal,9199
197368,2016,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,790,NaN,NaN,Transportation Controller Trainee,43772,17626,834,2444.29,Fiscal,27351
226303,2016,5,Culture & Recreation,REC,Recreation and Park Commission,790,NaN,NaN,Recreation Facility Assistant,13903,1260,0,467.64,Fiscal,2122
235794,2016,5,Culture & Recreation,REC,Recreation and Park Commission,790,NaN,NaN,Recreation Facility Assistant,8100,6888,0,2556.40,Fiscal,11578
243213,2016,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,790,NaN,NaN,Transportation Controller Trainee,46870,26640,1984,4489.29,Fiscal,42786
243397,2016,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,790,NaN,NaN,Transportation Controller Trainee,52365,26344,356,4439.40,Fiscal,40340
245016,2016,5,Culture & Recreation,REC,Recreation and Park Commission,790,NaN,NaN,Recreation Facility Assistant,32411,5602,0,2079.41,Fiscal,9591
276233,2016,6,General Administration & Finance,RET,Retirement System,351,Municipal Exec Assoc-Misc,NaN,Managing Director,46922,98099,0,4938.21,Fiscal,135408
280075,2016,5,Culture & Recreation,REC,Recreation and Park Commission,790,NaN,NaN,Recreation Facility Assistant,47770,2721,0,1010.09,Fiscal,4707
281700,2016,5,Culture & Recreation,REC,Recreation and Park Commission,790,NaN,NaN,Recreation Facility Assistant,53710,7728,0,2868.15,Fiscal,13083
283096,2016,2,"Public Works, Transportation & Commerce",MTA,Municipal Transportation Agency,790,NaN,NaN,Transportation Controller Trainee,2785,11544,169,1945.36,Fiscal,18255
284488,2016,5,Culture & Recreation,REC,Recreation and Park Commission,790,NaN,NaN,Recreation Facility Assistant,10821,4292,0,1593.07,Fiscal,7369

In [10]:
#Even JF has all missing values for UC 790, except 2 rows which have UC 351
#Lets see whats the union name for 790, if there is none and it has only missing values, we shall delete these rows as they are
#only 38/287000, which is very very less!

In [11]:
df[df['UC'] == 790].tail()

,Year,OGC,OG,DC,Dept,UC,Union,JF,Job,EI,Salaries,Overtime,H/D,YT,Total_Compensation
287815,2013,2,"Public Works, Transportation & Commerce",PUC,PUC Public Utilities Commission,790,"SEIU - Miscellaneous, Local 1021","Budget, Admn & Stats Analysis",Junior Administrative Analyst,33445,49942,0,12450.97,Fiscal,76705
287817,2015,2,"Public Works, Transportation & Commerce",AIR,Airport Commission,790,"SEIU - Miscellaneous, Local 1021",Housekeeping & Laundry,Custodian,30193,34975,0,9435.28,Fiscal,62690
287818,2014,4,Community Health,DPH,Public Health,790,"SEIU - Miscellaneous, Local 1021","Payroll, Billing & Accounting",Patient Accounts Clerk,19724,70422,3176,12512.55,Fiscal,109010
287823,2014,6,General Administration & Finance,ADM,General Services Agency - City Admin,790,"SEIU - Miscellaneous, Local 1021",Housekeeping & Laundry,Custodian,15916,54703,0,13054.94,Calendar,84728
287832,2015,5,Culture & Recreation,LIB,Public Library,790,"SEIU - Miscellaneous, Local 1021",Library,Librarian 1,790,30704,0,5465.57,Calendar,40174

In [12]:
#So as we see, UC 790 points to Union of SEIU - Miscellaneous, Local 1021, but the JFs are different so we shall just go ahead and drop these rows

In [13]:
df.isnull().sum()/len(df)

Year                  0.000000
OGC                   0.000000
OG                    0.000000
DC                    0.000000
Dept                  0.000000
UC                    0.000000
Union                 0.000125
JF                    0.000132
Job                   0.000000
EI                    0.000000
Salaries              0.000000
Overtime              0.000000
H/D                   0.000000
YT                    0.000000
Total_Compensation    0.000000
dtype: float64

In [14]:
df.dropna(inplace = True)

In [15]:
df.isnull().sum()

Year                  0
OGC                   0
OG                    0
DC                    0
Dept                  0
UC                    0
Union                 0
JF                    0
Job                   0
EI                    0
Salaries              0
Overtime              0
H/D                   0
YT                    0
Total_Compensation    0
dtype: int64

In [16]:
#Okay missing values taken care of!, Now lets see the datatypes!

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 287798 entries, 0 to 287835
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Year                287798 non-null  int64
 1   OGC                 287798 non-null  int64
 2   OG                  287798 non-null  object
 3   DC                  287798 non-null  object
 4   Dept                287798 non-null  object
 5   UC                  287798 non-null  int64
 6   Union               287798 non-null  object
 7   JF                  287798 non-null  object
 8   Job                 287798 non-null  object
 9   EI                  287798 non-null  int64
 10  Salaries            287798 non-null  int64
 11  Overtime            287798 non-null  int64
 12  H/D                 287798 non-null  float64
 13  YT                  287798 non-null  object
 14  Total_Compensation  287798 non-null  int64
dtypes: float64(1), int64(7), object(7)
memory usage: 35.1+ MB

Data Description

﻿OGC: Organization Group Code - Org Group is a group of Departments. For example, the Public Protection Org Group includes departments such as the Police, Fire, Adult Probation, District Attorney, and Sheriff.

OG: Organization Group names

DC: Department Code - Departments are the primary organizational unit used by the City and County of San Francisco. Examples include Recreation and Parks, Public Works, and the Police Department.

Dept: Department name

UC: Union Code - Unions represent employees in collective bargaining agreements. A job belongs to one union, although some jobs are unrepresented (usually temporarily).

Union: Union names

JF: Job Family - Job Family combines similar Jobs into meaningful groups.

Job: Job name

EI: Employee Identifier

Salaries: Salary of the employee

Overtime: Amounts paid to City employees working in excess of 40 hours per week.

H/D: Health/Dental - City-paid premiums to health and dental insurance plans covering City employees. To protect confidentiality as legally required, pro-rated citywide averages are presented in lieu of employee-specific health and dental benefits.

YT: Year Type - Fiscal (July through June) or Calendar (January through December)

Since OG and OGC is basically the same, we can drop the text feature, OG!

We can also drop Dept feature and leave the DC feature and convert that into numerical format!

We should be able to drop the columns Union, Job Family and Job as they all come under Unions and we are keeping Union Code

We should drop Employee Identifier because that seems like a primary key and we dont need that for our model!

YT we can convert using one hot encoding!

In [18]:
df.head()

,Year,OGC,OG,DC,Dept,UC,Union,JF,Job,EI,Salaries,Overtime,H/D,YT,Total_Compensation
0,2015,4,Community Health,DPH,Public Health,250,"SEIU - Health Workers, Local 1021",Med Therapy & Auxiliary,Morgue Attendant,6725,12196,0,0.00,Calendar,16158
1,2013,4,Community Health,DPH,Public Health,39,"Stationary Engineers, Local 39",Journeyman Trade,Stationary Engineer,25058,74639,2820,12703.31,Fiscal,115784
2,2015,6,General Administration & Finance,ASR,Assessor/Recorder,21,"Prof & Tech Engineers - Miscellaneous, Local 21",Appraisal & Taxation,Senior Real Property Appraiser,46108,100554,0,12424.50,Calendar,144708
3,2016,1,Public Protection,POL,Police,911,Police Officers' Association,Police Services,Sergeant 3,33369,140164,52754,13043.87,Fiscal,242323
4,2013,2,"Public Works, Transportation & Commerce",HHP,PUC Hetch Hetchy,21,"Prof & Tech Engineers - Miscellaneous, Local 21",Information Systems,IS Engineer-Journey,28684,58813,0,7655.28,Calendar,82106

In [19]:
train_df = df.drop(['OG','Dept','Union','JF','Job','EI'], axis = 1)

In [20]:
#lets see how the numerical features line up against total compensation!
#sns.pairplot(train_df)

In [21]:
final_df = pd.get_dummies(train_df,columns = ['DC','YT'])

In [22]:
final_df.head()
# great so now that the encoding is done for DC and YT, lets drop one column from each

,Year,OGC,UC,Salaries,Overtime,H/D,Total_Compensation,DC_AAM,DC_ADM,DC_ADP,...,DC_SCI,DC_SHF,DC_TIS,DC_TTX,DC_UNA,DC_WAR,DC_WOM,DC_WTR,YT_Calendar,YT_Fiscal
0,2015,4,250,12196,0,0.00,16158,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,2013,4,39,74639,2820,12703.31,115784,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,2015,6,21,100554,0,12424.50,144708,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,2016,1,911,140164,52754,13043.87,242323,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,2013,2,21,58813,0,7655.28,82106,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [23]:
#We are dropping one col from the dc one hot encoding and yt encoding and we are saving total compensation in y
y = final_df['Total_Compensation'].values
X = final_df.drop(columns = ['DC_AAM','YT_Calendar','Total_Compensation'], axis = 1).values

from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
X = ss.fit_transform(X)

In [24]:

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.25,random_state = 0)

In [25]:
#lets import some models
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [26]:
#First with simple Linear Regression

lir = LinearRegression()
lir.fit(X_train,y_train)
print(lir.score(X_train,y_train))
print(lir.score(X_test,y_test))

0.9878077214543276
0.9877315796108491

In [27]:
#Thats great accuracy with a simple linear model!

In [28]:
#Third with a decision tree model

dt = DecisionTreeRegressor()
dt.fit(X_train,y_train)
print(dt.score(X_train,y_train))
print(dt.score(X_test,y_test))

0.9992263396615677
0.983198896594424

In [29]:
#Fourth with a random forest model

rf = RandomForestRegressor()
rf.fit(X_train,y_train)
print(rf.score(X_train,y_train))
print(rf.score(X_test,y_test))

0.9980303599858307
0.9902659804346422

In [30]:
# Now lets see what the results would have been had we not used standard scaler

In [31]:
y = final_df['Total_Compensation'].values
X = final_df.drop(columns = ['DC_AAM','YT_Calendar','Total_Compensation'], axis = 1).values

In [32]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.25,random_state = 0)

In [33]:
#First with simple Linear Regression without standard scaler
# With scaling the results were 0.9878077214543276 for train
# 0.9877315796108491 for test

lir = LinearRegression()
lir.fit(X_train,y_train)
print(lir.score(X_train,y_train))
print(lir.score(X_test,y_test))

0.9878077214543276
0.9877315796108485

In [ ]:
#Still almost the same